ul.search_results
{
display: block;
background-color:#fff;
width:200px;
max-height: 500px;
position:absolute;
top:20px;
left:0px;
overflow:auto;	

list-style-type: none;
list-style-image: none;
list-style-position: inside;

border: 1px solid #000;
padding: 0px;
margin: 0px;
}

ul.search_results li
{
display: block;
padding: 5px 10px 0px 10px;
margin: 0px 0px 0px 0px;
border-bottom: 1px solid #000;
text-align: left;	

color: #000;
background-color: #ddd;
text-decoration: none;

}

ul.search_results li:hover
{
background-color: #fff;	
}

ul.search_results li a, ul.search_results li a:visited
{
display: block;
color: #000;
font-weight: bold;
font-size: 110%;
margin-left: 0px;
padding-left: 0px;
}

ul.search_results li a:hover
{
text-decoration: underline;
}

ul.search_results p#daves-wordpress-live-search_author
{
margin: 0px;
font-size: 90%;
font-weight: bold;
}

ul.search_results p#daves-wordpress-live-search_date
{
margin: 0px;
font-size: 90%;
}